body{
    background-color: rgba(31, 39, 39, 0.863);
    color: beige;
}
.encabezado{
    
    /* viewport width */
    width: 65vw;
    margin: auto;
    margin-top: 2em, 2em, 2em, 2em;
    border-radius: 7%;
    width: fit-content;
}

.logohtml{
    width: 100px;
}
.title{
    
    font-size: 40px;
    color: darkorange;
}
.noticias{

    width: fit-content;
    padding: 2em 2em 2em 2em;
    border-radius: 10%;
    transition: 1s;
    margin: auto;
    margin-top: 2em;
}

.noticias:hover{
    background-color: black
}
#principal{
    font-size: 80px;
}

footer{
    background-color: black;
}
.logo{
    width: 600px;
}